.advantages {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 270px;
  }
  &__icon {
    display: flex;
    padding: 25px 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: $secondary-background-color;
  }
  &__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.section__title--visually-hidden {
  @extend %visually-hidden;
}
