.footer {
  background-color: $dark-background-color;
  padding: 60px 0;

  &__content {
    text-align: center;

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: baseline;
    }
    @media screen and (min-width: $desktop) {
      text-align: start;
    }
  }
  &__address {
    margin-top: 20px;
    color: $white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }

  &__contacts {
    @media screen and (max-width: $desktop - 1px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-right: 165px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }

  &__contact {
    margin-top: 8px;
    @media screen and (min-width: $desktop) {
      margin-top: 9px;
    }
  }
  &__join-section {
    margin-bottom: 60px;
  }
  &__title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $white-color;
  }
  &__list {
    @extend %list;
  }
  &__link {
    color: $transparent-white-color;
    text-decoration: none;

    transition: color $transition-timing;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.networks__link--footer {
  fill: $white-color;
  background-color: $icons-transparent-white;
}
