.footer-form {
  @media screen and (max-width: $tablet - 1px) {
    margin-top: 60px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__field {
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  &__input {
    width: 100%;
    min-height: 50px;

    padding: 15px 16px;
    border: $footer-form-border;
    border-radius: 4px;
    outline: none;

    background-color: inherit;
    box-shadow: $button-shadow;

    color: $white-color;
    transition: border-color $transition-timing;

    &:focus {
      border-color: $accent-color;
    }

    @media screen and (min-width: $tablet) {
      min-width: 450px;
    }

    @media screen and (max-width: $desktop - 1px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
      min-width: 358px;
      margin-right: 12px;
    }
  }
}
.button__icon {
  margin-left: 10px;
}
