.logo {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &__end--black {
  color: $title-text-color;
 }
  &__end--white {
  color: $white-color;
 }
}