.networks {
  @extend %list;
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $icons-light-grey;

    transition: fill $transition-timing, background-color $transition-timing;

    &:hover,
    &:focus {
      fill: $white-color;
      background-color: $accent-color;
    }
  }
}
