$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-dark-color: #188ce8;
$white-color: #ffffff;
$transparent-white-color: rgba(255, 255, 255, 0.6);
$secondary-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$work-examples-bg-color: rgba(47, 48, 58, 0.8);
$modal-overlay_bg-color: rgba(0, 0, 0, 0.2);
$icons-light-grey: #afb1b8;
$icons-transparent-white: rgba(255, 255, 255, 0.1);
$card-set-gap: 30px;
$center-border: 1px solid #eeeeee;
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$footer-form-border: 1px solid rgba(255, 255, 255, 0.3);
$modal-form-border: 1px solid rgba(33, 33, 33, 0.2);
$filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
